@font-face {
    font-family: "Nunito-Light.ttf";
    src: url("Nunito-Light.ttf")
}
h2 {
    text-align: center;
    margin-bottom: 5px;
}
h3 {
    color: rgb(221, 185, 118);
    margin: 5px;
    font-size: 15px;
}
.centrado {
    text-align: center;
    margin-bottom: 10px;
}
.textoHistoria {
    padding: 30px;
}